.NavBar {
    padding-top: 10px;
    margin: 0px 0px 15px 0px;
    height: 50px;
    background-color: gainsboro;
    align-items: center;
    justify-items: center;
}

.gridNavbar {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: end;
}
.navBrand {
    float: left;
    margin-left: 15px;
}
.navColumn {
    text-decoration: none;
}