.card{
    width: 18rem;
    margin: 15px;
}
a.btn.btn-primary {
    width: 15rem;
    background-color: grey;
    border-color: grey;
    margin-bottom: 10px;
}

#controller {
    display: flex;
    justify-content: space-around;
    justify-items:center;
    align-items: center;
}
#countbox h1{
    font-size:small;
    margin: 0;
}
#controller button {
    padding: 0;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: gray;
    width: 20px;
    height: 20px;
    line-height: 100%;
}

a.btn.btn-primary.buy {
    font-weight: bolder;
    font-size: x-large;
    background-color: #363636;
}