.navbar-brand {
  padding-left: 30px;
}
.cart {
  background-color:silver;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
}
li.active {
  align-items: center;
  display: block;
}
li a img {
  margin-top: 40%;
  margin-left: 35%;
}