.item{
    display: flex;
    flex-direction: column;
    &:hover{
        transform: scale(1.02);
        transition: all 350ms;
    }
    img{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: auto;
    }
    .productInfo{
        display: flex;
        height: 150px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-inline: 25px;
        .details{
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .description{
                display: inline-block;
                font-size: 1.2rem;
                color: #444444;
            }
            .price{
                color: #F39200;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
        .title{
            font-weight: bold;
            font-size: 1.5rem;
            color: rgb(64, 72, 95);
        }
    }
}

